body {
  background: #5385C6;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 .irish-grover-regular {
  color: #E7BB3E;
}

.bg-steel {
  background-color: #3B5DA3;
}

.site-header .navbar-nav .nav-link {
  color: #E7BB3E;
  font-family: "Irish Grover";
}

.site-header .navbar-nav .nav-link:hover {
  color: #CE702C;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title{
  color:#E7BB3E;
  background-color:#3B5DA3;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  background-color:#3B5DA3;
  color:#E7BB3E;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  font-family: "Irish Grover";
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.content-section{
  color:#e3e3e3;
  background-color: #3B5DA3;
}

.media-body{
  color:#e3e3e3;
  background-color: #3B5DA3;
}