{% extends "layout.html" %}
{% block content %}
    <h1 style="font-family:Irish Grover";>My Friends</h1>
    {% if friends %}
        {% for friend in friends %}
            <article class="media-body border">
                <div class = "media-body">
                    <div class="article-metadata">
                        <h3><a class = 'mr-2'>{{ friend.username }}</a></h3>
                    </div>
                    <a class="colortext" href="{{ url_for('user_profile', username=friend.username) }}">View Profile</a>
                    <a class = "colortext" href="{{ url_for('remove_friend', user_id=friend.id) }}">Remove Friend</a>
                </div>
            </article>  
        {% endfor %}
    {% else %}
        <p>You don't have any friends yet.</p>
    {% endif %}
{% endblock %}